In [18]:
import requests
import pandas as pd

estado = 'MG'

url = f"https://servicodados.ibge.gov.br/api/v1/localidades/estados/{estado}"
response = requests.get(url)
data = response.json()
df = pd.json_normalize(data) # transformando resultado em DF 
df.head()

   id sigla          nome  regiao.id regiao.sigla regiao.nome
0  31    MG  Minas Gerais          3           SE     Sudeste

In [32]:
# Percorrer entre estados

import requests
import pandas as pd

estado = ['SP','MG','RJ','MS']

dados_estado = []

for loop in estado:
    response = requests.get(f"https://servicodados.ibge.gov.br/api/v1/localidades/estados/{loop}").json()
    dados_estado.append(response)

df = pd.json_normalize(dados_estado) 
df.head()

   id sigla                nome  regiao.id regiao.sigla   regiao.nome
0  35    SP           São Paulo          3           SE       Sudeste
1  31    MG        Minas Gerais          3           SE       Sudeste
2  33    RJ      Rio de Janeiro          3           SE       Sudeste
3  50    MS  Mato Grosso do Sul          5           CO  Centro-Oeste