In [72]:
#pip install gspread 
#pip install oauth2client

In [73]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
# Video referencia para criar Credenciao (Configurando Credencias de Acesso ao Google BigQuery)
# Caminho para o arquivo JSON de credenciais

credencialjson = r"C:\Users\edmil\Downloads\pythoncurso-398511-260383f13f39.json"

# Configuração das credenciais
scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]

credentials = ServiceAccountCredentials.from_json_keyfile_name(credencialjson, scope)

# Autentique-se com o Google Sheets
gc = gspread.authorize(credentials)

# Abra o arquivo do Google Sheets pelo seu ID 
idplanilha = gc.open_by_key("1Dfem4ThXXdfgAW9aA6G0jJES1yUsjXln24DPaxt8JE8")

# Acesse a guia da planilha
guiaplanilha = idplanilha.worksheet("Produto")

# ler dados
Dados = guiaplanilha.get_all_values()

# Exiba os dados 
"""
for row in Dados:
    print(row)
    
"""

'\nfor row in Dados:\n    print(row)\n    \n'

In [74]:
Produto = pd.DataFrame(guiaplanilha.get_all_records())
Produto.head(10)

   ID                         Name  Price  Id_Category
0   0  Sapato vermelho teste final     96            0
1   1         Bolsa mais que Velha   8000            0
2   2                        Calça     75            0
3   3           Camisa apertadinha    170            0
4   4          Vestido Super curto     57            0
5   5                      Perfume     29            1
6   6             Creme de Barbear     15            1
7   7              Hidratante caro    800            1
8   8                      Shampoo     15            1
9   9               Protetor Solar     11            1

In [75]:
# Converter os dados em um DataFrame
#df = pd.DataFrame(Dados)
#df.head(10)

In [76]:
dftratado = pd.DataFrame(Dados[1:], columns=Dados[0])
dftratado.head()

  ID                         Name Price Id_Category
0  0  Sapato vermelho teste final    96           0
1  1         Bolsa mais que Velha  8000           0
2  2                        Calça    75           0
3  3           Camisa apertadinha   170           0
4  4          Vestido Super curto    57           0

#### Apis Google
https://cloud.google.com/docs/authentication/api-keys?hl=pt-br