#### Trabalhando com Datas e mantendo histórico

In [51]:
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account
from pandas_gbq import to_gbq
from datetime import datetime

In [52]:
df = pd.read_excel(r"K:\Python\Arquivos\Origem\arquivos_excel\Produto.xlsx")
df.head()

   ID                         Nome  Price  Id_Category
0   0                  Sapato Roxo     96            0
1   1  Bolsa mais que Velha e cara   8000            0
2   2                Calça rasgada     75            0
3   3           Camisa apertadinha    170            0
4   4          Vestido Super curto     57            0

In [53]:
df['DataHoraCarga'] = datetime.now()

In [54]:
df.head(5)

,ID,Nome,Price,Id_Category,DataHoraCarga
0,0,Sapato Roxo,96,0,2023-09-18 19:45:19.891206
1,1,Bolsa mais que Velha e cara,8000,0,2023-09-18 19:45:19.891206
2,2,Calça rasgada,75,0,2023-09-18 19:45:19.891206
3,3,Camisa apertadinha,170,0,2023-09-18 19:45:19.891206
4,4,Vestido Super curto,57,0,2023-09-18 19:45:19.891206

In [55]:
df['DataHoraCarga'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')  # prescisa desta conversao para o bigquery aceitar

In [56]:
df.head(5)

   ID                         Nome  Price  Id_Category        DataHoraCarga
0   0                  Sapato Roxo     96            0  2023-09-18 19:45:19
1   1  Bolsa mais que Velha e cara   8000            0  2023-09-18 19:45:19
2   2                Calça rasgada     75            0  2023-09-18 19:45:19
3   3           Camisa apertadinha    170            0  2023-09-18 19:45:19
4   4          Vestido Super curto     57            0  2023-09-18 19:45:19

In [57]:
df['DataCarga'] = datetime.now().date()

In [58]:
df.head(5)

,ID,Nome,Price,Id_Category,DataHoraCarga,DataCarga
0,0,Sapato Roxo,96,0,2023-09-18 19:45:19,2023-09-18
1,1,Bolsa mais que Velha e cara,8000,0,2023-09-18 19:45:19,2023-09-18
2,2,Calça rasgada,75,0,2023-09-18 19:45:19,2023-09-18
3,3,Camisa apertadinha,170,0,2023-09-18 19:45:19,2023-09-18
4,4,Vestido Super curto,57,0,2023-09-18 19:45:19,2023-09-18

In [59]:
df['DataCargaPTBR'] = datetime.now().strftime('%d/%m/%Y')

In [60]:
df.head(5)

,ID,Nome,Price,Id_Category,DataHoraCarga,DataCarga,DataCargaPTBR
0,0,Sapato Roxo,96,0,2023-09-18 19:45:19,2023-09-18,18/09/2023
1,1,Bolsa mais que Velha e cara,8000,0,2023-09-18 19:45:19,2023-09-18,18/09/2023
2,2,Calça rasgada,75,0,2023-09-18 19:45:19,2023-09-18,18/09/2023
3,3,Camisa apertadinha,170,0,2023-09-18 19:45:19,2023-09-18,18/09/2023
4,4,Vestido Super curto,57,0,2023-09-18 19:45:19,2023-09-18,18/09/2023

In [61]:
df['HoraCarga'] = datetime.now().strftime('%H:%M:%S')

In [62]:
df.head(5)

,ID,Nome,Price,Id_Category,DataHoraCarga,DataCarga,DataCargaPTBR,HoraCarga
0,0,Sapato Roxo,96,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20
1,1,Bolsa mais que Velha e cara,8000,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20
2,2,Calça rasgada,75,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20
3,3,Camisa apertadinha,170,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20
4,4,Vestido Super curto,57,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20

In [63]:
df.dtypes

ID                int64
Nome             object
Price             int64
Id_Category       int64
DataHoraCarga    object
DataCarga        object
DataCargaPTBR    object
HoraCarga        object
dtype: object

##### https://docs.python.org/pt-br/3/library/datetime.html

In [64]:
#converter para BQ Aceitar
df['DataHoraCarga'] = pd.to_datetime(df['DataHoraCarga'])
df['DataCarga'] = pd.to_datetime(df['DataCarga'])

In [65]:
df.dtypes

ID                        int64
Nome                     object
Price                     int64
Id_Category               int64
DataHoraCarga    datetime64[ns]
DataCarga        datetime64[ns]
DataCargaPTBR            object
HoraCarga                object
dtype: object

In [66]:
df.head(5)

,ID,Nome,Price,Id_Category,DataHoraCarga,DataCarga,DataCargaPTBR,HoraCarga
0,0,Sapato Roxo,96,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20
1,1,Bolsa mais que Velha e cara,8000,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20
2,2,Calça rasgada,75,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20
3,3,Camisa apertadinha,170,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20
4,4,Vestido Super curto,57,0,2023-09-18 19:45:19,2023-09-18,18/09/2023,19:45:20

In [67]:
# credenciais para validar importar dados para o google bigquery
credencial = r"C:\Users\edmil\Downloads\pythoncurso-398511-260383f13f39.json"
CredImportacao = service_account.Credentials.from_service_account_file(
    credencial,
    scopes=['https://www.googleapis.com/auth/bigquery']
)

# variaveis do projeto 
projeto = 'pythoncurso-398511'
dataset = 'AulaPython'
tabela = 'ProdutoHistorico'
parameretro ='append'      
#replace = subistuir a antiga pela original 
#append = adiciona dados no fim da tabela

In [68]:
#df['Price'] = df['Price'].astype(int)
#df['Id_Category'] = df['Id_Category'].astype(int)

In [69]:
df.dtypes

ID                        int64
Nome                     object
Price                     int64
Id_Category               int64
DataHoraCarga    datetime64[ns]
DataCarga        datetime64[ns]
DataCargaPTBR            object
HoraCarga                object
dtype: object

In [70]:
schema = [
    {'name': 'DataHoraCarga', 'type': 'TIMESTAMP'},# Use 'TIMESTAMP' para datetime64[ns] (pode ser tambem da certo)
    {'name': 'Price', 'type': 'INTEGER'},
    {'name': 'Id_Category', 'type': 'INTEGER'},
    {'name': 'DataCarga', 'type': 'DATE'} #SOMENTE DATA
]

In [71]:
# Use o método to_gbq para enviar o DataFrame para o BigQuery
df.to_gbq(destination_table=f'{projeto}.{dataset}.{tabela}',
          project_id=projeto,
          if_exists=parameretro,
          credentials=CredImportacao,
          table_schema=schema)

100%|██████████| 1/1 [00:00<00:00, 995.33it/s]

In [72]:
"""

SELECT * FROM `pythoncurso-398511.AulaPython.ProdutoHistorico`
where HoraCarga = 
  (SELECT max(HoraCarga)FROM `pythoncurso-398511.AulaPython.ProdutoHistorico`)

"""

'\n\nSELECT * FROM `pythoncurso-398511.AulaPython.ProdutoHistorico`\nwhere HoraCarga = \n  (SELECT max(HoraCarga)FROM `pythoncurso-398511.AulaPython.ProdutoHistorico`)\n\n'