# Bibliotecas

In [17]:
"""
create table Produtos(
    ID INT,
    Nome NVARCHAR(255),
    Price money,
    Id_Category INT
)
"""

'\ncreate table Produtos(\n    ID INT,\n    Nome NVARCHAR(255),\n    Price money,\n    Id_Category INT\n)\n'

In [18]:
#!pip install pyodbc 

import pandas as pd
import pyodbc 

server = 'EDMILSON\MSSQL' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

#### Conexão com senha

In [19]:
"""
server = 'EDMILSON\MSSQL' # Substitua pelo nome do servidor SQL Server
database = 'Produtos'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      f'usuario= edmilson;'
                      f'senha=1234teste;'                      
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando
"""

"\nserver = 'EDMILSON\\MSSQL' # Substitua pelo nome do servidor SQL Server\ndatabase = 'Produtos'  # Substitua pelo nome do banco de dados\nconexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'\n                      f'SERVER={server};'\n                      f'DATABASE={database};'\n                      f'usuario= edmilson;'\n                      f'senha=1234teste;'                      \n                      'Trusted_Connection=yes;')\n\ncursor = conexaoDB.cursor()   # criando cursor de comando\n"

In [20]:
dados = pd.read_excel(r"K:\Python\Arquivos\Origem\arquivos_excel\Produto.xlsx")
#display(dados)
dados.head(5)
#display(dados)

   ID                  Nome  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [21]:
dados.columns

Index(['ID', 'Nome', 'Price', 'Id_Category'], dtype='object')

In [22]:
str(dados.columns).replace("'","")

'Index([ID, Nome, Price, Id_Category], dtype=object)'

In [23]:
#Conversão de dados
#df['Nome'] = df.Nome.astype(str)  ##conversao de dados para string nvarchar

# Inserindo DataFrame no Banco

In [24]:
dados.head(5)

   ID                  Nome  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [25]:
for index, linha in dados.iterrows():
    
    cursor.execute("Insert into [Produtos](ID,Nome,Price,Id_Category)values(?,?,?,?)",linha.ID,linha.Nome,linha.Price,linha.Id_Category) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao

In [26]:
#cursor.execute('delete  from [dbo].[Dim_Produto]')   #executa tarefa de  apagar dados
#cursor.commit()