In [15]:
"""
Create table Ordens(
id				int,
created_at       datetime,
customer_id   int,
status        nvarchar(255)
)

"""

'\nCreate table Ordens(\nid\t\t\t\tint,\ncreated_at       datetime,\ncustomer_id   int,\nstatus        nvarchar(255)\n)\n\n'

In [16]:

import pandas as pd
import pyodbc 

server = 'EDMILSON\MSSQL' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [17]:
dados = pd.read_excel(r"K:\Python\Arquivos\Origem\arquivos_excel\Ordens.xlsx")
#str(dados.columns).replace("'","") 
#dados.head(5)

In [18]:
cursor.execute('truncate table  [Ordens]')   #executa tarefa de  apagar dados
cursor.commit()

In [19]:
str(dados.columns).replace("'","")  # coluna de origem

'Index([id, created_at, customer_id, status], dtype=object)'

In [20]:

#print(dados['total_price'].dtype)
#dados['total_price'] = dados['total_price'].astype(float)

In [21]:
#inserção no banco de dados 
for index, linha in dados.iterrows():
    
    cursor.execute("Insert into [Ordens](id,created_at,customer_id,status)values(?,?,?,?)",linha.id,linha.created_at,linha.customer_id,linha.status) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao