sqlalchemy - SQL Server


Documentação geral 
https://docs.sqlalchemy.org/en/20/core/engines.html

Documentação SQL Server
https://docs.sqlalchemy.org/en/20/core/engines.html#microsoft-sql-server

  Exemplo conexão String SQL Server
  
  f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server'

In [ ]:
'''
#pip install sqlalchemy

#Tipos diferentes de conectores
#String personalizada inserir /?odbc_connect=

# pyodbc = pip install pyodbc  ou pip install --upgrade pyodbc 
engine = create_engine("mssql+pyodbc://scott:tiger@mydsn")

Alterar na conexão
/?odbc_connect= 


'''

In [5]:
#Exemplo
import pandas as pd
from sqlalchemy import create_engine

server = 'EDMILSON\MSSQLSERVER01'
database = 'AdventureWorksDW2019' 
username = 'sa'
password = 123456
conexaoDB = ('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;' #conexão usuario do windows
                      #f'UID={username};'
                      #f'PWD={password};'                      
                      )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={conexaoDB}')

In [9]:
import pandas as pd
from sqlalchemy import create_engine

conexaoDB = ('DRIVER={ODBC Driver 17 for SQL Server};''SERVER=EDMILSON\MSSQLSERVER01;''DATABASE=AdventureWorksDW2019;''Trusted_Connection=yes;')
engine = create_engine(f'mssql+pyodbc:///?odbc_connect={conexaoDB}')

query = '''
SELECT * FROM [AdventureWorksDW2019].[dbo].[DimProduct]
'''

df = pd.read_sql_query(query, engine)

# Exiba  DataFrame
engine.dispose()
df.head()

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [11]:
df.to_excel('produto.xlsx', index=False)