In [7]:
import pandas as pd
from sqlalchemy import create_engine,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

#Origem
conexaoDB = ('DRIVER={ODBC Driver 17 for SQL Server};''SERVER=EDMILSON\MSSQLSERVER01;''DATABASE=AdventureWorksDW2019;''Trusted_Connection=yes;')
engine = create_engine(f'mssql+pyodbc:///?odbc_connect={conexaoDB}')

query = '''
SELECT 
ProductKey
,ProductAlternateKey
,FrenchProductName
,EnglishProductName
,Color 
,StandardCost
  FROM [AdventureWorksDW2019].[dbo].[DimProduct]
  where StandardCost is not null

'''

df = pd.read_sql_query(query, engine)

# Exiba  DataFrame
engine.dispose()
df.head()

,ProductKey,ProductAlternateKey,FrenchProductName,EnglishProductName,Color,StandardCost
0,212,HL-U509-R,"Casque sport 100, rouge","Sport-100 Helmet, Red",Red,12.0278
1,213,HL-U509-R,"Casque sport 100, rouge","Sport-100 Helmet, Red",Red,13.8782
2,214,HL-U509-R,"Casque sport 100, rouge","Sport-100 Helmet, Red",Red,13.0863
3,215,HL-U509,"Casque sport 100, noir","Sport-100 Helmet, Black",Black,12.0278
4,216,HL-U509,"Casque sport 100, noir","Sport-100 Helmet, Black",Black,13.8782

Envio de dados para SQL Server

In [8]:
#Conexão envio
''' parametros para to_sql (enviar dados pra banco)
name = tabela destino
con = conexão
if_exists = se existir a tabela o que faço?  replace ou append
index= index do python df 
text = transformar strig de conexão em texto para sqlalchemy  reconhecer 
dtype = tipos das colunas de destino

'''

' parametros para to_sql (enviar dados pra banco)\nname = tabela destino\ncon = conexão\nif_exists = se existir a tabela o que faço?  replace ou append\nindex= index do python df \ntext = transformar strig de conexão em texto para sqlalchemy  reconhecer \ndtype = tipos das colunas de destino\n\n'

In [9]:
#conexao Destino - inferindo os tipos  dados 
conexao_destino = ('DRIVER={ODBC Driver 17 for SQL Server};''SERVER=EDMILSON\MSSQLSERVER01;''DATABASE=Python;''Trusted_Connection=yes;')
engine_destino = create_engine(f'mssql+pyodbc:///?odbc_connect={conexao_destino}')

tabela_destino= 'produto_etl'

tipo_colnas = {
    
    'ProductAlternateKey':VARCHAR(10),
    'Color':VARCHAR(15),
    'FrenchProductName':VARCHAR(50)
    }

df.to_sql(name= tabela_destino,con=engine_destino,if_exists='replace' ,index=False , dtype=tipo_colnas)

engine_destino.dispose()

In [10]:
#conexao Destino
conexao_destino = ('DRIVER={ODBC Driver 17 for SQL Server};''SERVER=EDMILSON\MSSQLSERVER01;''DATABASE=Python;''Trusted_Connection=yes;')
engine_destino = create_engine(f'mssql+pyodbc:///?odbc_connect={conexao_destino}')

tabela_destino= 'produto_etl'

df.to_sql(name= tabela_destino,con=engine_destino,if_exists='replace' ,index=False )

engine_destino.dispose()

Tipos de dados sqlalchemy

https://docs.sqlalchemy.org/en/20/core/type_basics.html#generic-camelcase-types

https://learn.microsoft.com/pt-br/sql/t-sql/data-types/char-and-varchar-transact-sql?view=sql-server-ver16