Documentação Python 
https://docs.python.org/pt-br/3/library/sqlite3.html

Conexão Básica - DB na mesma pasta do projeto

In [10]:
import sqlite3
con = sqlite3.connect("tutorial.db")

cursor = con.cursor()
#cursor.execute( "CREATE TABLE produto (Id,Nome,valor)"   ) # Criar tabela 
cursor.execute ("insert into  produto (Id,Nome,valor) values(3,'Camisa',102.50) ")

con.commit()
con.close()

In [11]:
# Ver dados em DF
import sqlite3
import pandas as pd

con = sqlite3.connect("tutorial.db")
query = """  select * from produto     """

df = pd.read_sql(query,con)
con.close()
df.head()

   Id    Nome  valor
0   1   Tenis  203.3
1   2  Panela  100.0
2   3  Camisa  102.5

Conexão Básica - DB Outra pasta

In [15]:
import sqlite3
con = sqlite3.connect(r"C:\Users\edmil\OneDrive\Documentos\Cursos\Python - SGBDS - Arquivos\SQLite\Banco de Dados\Teste.db")

cursor = con.cursor()
cursor.execute( "CREATE TABLE produto2 (Id,Nome,valor)"   ) # Criar tabela 
cursor.execute ("insert into  produto2 (Id,Nome,valor) values(3,'Camisa',102.50) ")

con.commit()
con.close()

In [16]:
# Ver dados em DF pasta externa
import sqlite3
import pandas as pd

caminho_db = r"C:\Users\edmil\OneDrive\Documentos\Cursos\Python - SGBDS - Arquivos\SQLite\Banco de Dados\Teste.db"
con2 = sqlite3.connect(caminho_db)
query2 = """  select * from produto2     """

df2 = pd.read_sql(query2,con2)
con2.close()
df2.head()

   Id    Nome  valor
0   3  Camisa  102.5