In [1]:
from sqlalchemy import create_engine
import pandas as pd
#conexao com banco de dados
dbname   = 'python'
user     = 'postgres'
password = '12345'
host     = 'localhost'
port     = '5432' 

conexao_str = f'postgresql://{user}:{password}@{host}:{port}/{dbname}'
engine = create_engine(conexao_str)


query = """
select 
id
,dt_ocorrencia
,uf
,regiao
,classificacao_da_ocorrencia
from public.anac_mapeamento


"""
df=pd.read_sql_query(query,engine )
df.head(15)

,id,dt_ocorrencia,uf,regiao,classificacao_da_ocorrencia
0,7762,2018-03-21,SP,Sudeste,Incidente
1,7759,2018-03-14,MG,Sudeste,Acidente
2,7758,2018-01-26,GO,Centro-Oeste,Acidente
3,7758,2018-01-26,GO,Centro-Oeste,Acidente
4,7757,2018-03-18,RS,Sul,Incidente Grave
5,5552,2009-07-07,PR,Sul,Acidente
6,5118,2006-10-13,ES,Sudeste,Acidente
7,7756,2018-03-18,PE,Nordeste,Incidente Grave
8,7755,2018-03-18,AL,Nordeste,Incidente Grave
9,7754,2018-03-17,SP,Sudeste,Incidente Grave
10,7754,2018-03-17,SP,Sudeste,Incidente Grave
11,7753,2018-03-16,SP,Sudeste,Acidente
12,5387,2002-08-20,Indeterminado,None,Acidente
13,5665,2002-11-20,Indeterminado,None,Acidente
14,7752,2018-03-16,SP,Sudeste,Incidente

Documentação (Leitura e escrita pandas)

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [ ]:
'''
orient determina a orientação do formato JSON resultante

"split" (Padrão):

Os dados do DataFrame são divididos em uma lista de registros (linhas).
Cada registro é um dicionário representando uma linha do DataFrame.
Exemplo: {"index": {"0": 1, "1": 2}, "columns": ["A", "B"], "data": [[1, 4], [2, 5]]}.

"records":
Cada registro representa uma linha e é uma lista de dicionários.
Cada dicionário contém os pares chave-valor representando coluna-valor.
Exemplo: [{"index": 0, "A": 1, "B": 4}, {"index": 1, "A": 2, "B": 5}].

"index":
As chaves são os índices das linhas, e os valores são os registros (dicionários).
Exemplo: {"0": {"A": 1, "B": 4}, "1": {"A": 2, "B": 5}}.

"columns":
As chaves são os nomes das colunas, e os valores são os registros (dicionários).
Exemplo: {"A": {"0": 1, "1": 2}, "B": {"0": 4, "1": 5}}.

"values":
Os valores são uma lista de listas representando os valores das células do DataFrame.
Exemplo: [[1, 4], [2, 5]].

"table":
A saída é um objeto JSON com uma chave schema contendo informações sobre o DataFrame (índices, colunas) e uma chave data contendo uma lista de listas com os dados.
Exemplo: {"schema": {"fields": [{"name": "index", "type": "integer"}, {"name": "A", "type": "integer"}, {"name": "B", "type": "integer"}], "primaryKey": ["index"], "pandas_version": "0.20.0"}, "data": [[0, 1, 4], [1, 2, 5]]}.
'''

https://jsonformatter.org/json-viewer

In [ ]:
# JSON
pasta_destino_json = r"C:\Users\edmil\OneDrive\Documentos\Cursos\Python - SGBDS - Arquivos\Destino\Anac.json"
df.to_json(pasta_destino_json,orient="index")
#orient      =  orientação do formato'
#lines=True  = separados por quebras de linha  só aceita no orint = records
#tipode de orientação = records,index,columns,values,table

In [ ]:
#Excel
pasta_destino_excel = r"C:\Users\edmil\OneDrive\Documentos\Cursos\Python - SGBDS - Arquivos\Destino\Anac.xlsx"
df.to_excel(pasta_destino_excel,index = False,sheet_name="Base")
#sheet_name = guia da planilha
#index = indice do python

In [50]:
#CSV
pasta_destino_csv = r"C:\Users\edmil\OneDrive\Documentos\Cursos\Python - SGBDS - Arquivos\Destino\Anac.csv"
df.to_csv(pasta_destino_csv,sep=',',index=False)
#sep=  separador (delimitador)

https://pandas.pydata.org/pandas-docs/version/1.1/reference/api/pandas.DataFrame.to_parquet.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_parquet.html

In [ ]:
# Defina o caminho do arquivo Parquet
#!pip install pyarrow
#!pip install fastparquet

pasta_destino_parquet = r"C:\Users\edmil\OneDrive\Documentos\Cursos\Python - SGBDS - Arquivos\Destino\Anac.parquet"
# Salve o DataFrame em um arquivo Parquet
df.to_parquet(pasta_destino_parquet, index=False,engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
# Especifique as colunas para particionamento
pasta_destino_particionado = r"C:\Users\edmil\OneDrive\Documentos\Cursos\Python - SGBDS - Arquivos\Destino\Anac_particonado.parquet"
colunas_particionamento = ['regiao','uf']
# Salvando particionados
df.to_parquet(pasta_destino_particionado, index=False,
              partition_cols=colunas_particionamento,
              engine='pyarrow'
              )