##### Documentação 


https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-select.html

In [6]:
# pip install mysql-connector-python
import mysql.connector
import pandas as pd

cnx = mysql.connector.connect(user='root',password='12345',host='localhost',database='sakila' )  
cursor = cnx.cursor() 

query=  """
   SELECT 
        `c`.`name` AS `category`, SUM(`p`.`amount`) AS `total_sales`
    FROM
        (((((`sakila`.`payment` `p`
        JOIN `sakila`.`rental` `r` ON ((`p`.`rental_id` = `r`.`rental_id`)))
        JOIN `sakila`.`inventory` `i` ON ((`r`.`inventory_id` = `i`.`inventory_id`)))
        JOIN `sakila`.`film` `f` ON ((`i`.`film_id` = `f`.`film_id`)))
        JOIN `sakila`.`film_category` `fc` ON ((`f`.`film_id` = `fc`.`film_id`)))
        JOIN `sakila`.`category` `c` ON ((`fc`.`category_id` = `c`.`category_id`)))
    GROUP BY `c`.`name`
    ORDER BY `total_sales` DESC

"""    
df = pd.read_sql(query,cnx)   

cursor.close() 
cnx.close()    

df.head()

C:\Users\edmil\AppData\Local\Temp\ipykernel_20680\2280603313.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,cnx)

    category  total_sales
0     Sports      5314.21
1     Sci-Fi      4756.98
2  Animation      4656.30
3      Drama      4587.39
4     Comedy      4383.58