sqlalchemy - MySQL

https://docs.sqlalchemy.org/en/20/dialects/mysql.html#create-table-arguments-including-storage-engines

In [1]:
from sqlalchemy import create_engine 
import pandas as pd
df_customers= pd.read_csv(r"C:\Users\edmil\OneDrive\Documentos\Cursos\Python - SGBDS - Arquivos\Origem de dados\Bikes\customers.csv",sep=',').fillna('')
df_customers.head()

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820

Enviar DataFrame para MySQL

In [3]:
# Enviar DataFrame para MySQL (resumo e parametro)
#df_customers.to_sql(name='teste', con=conn, if_exists='append', index=False)

# ----- paremetros -----
# name= tabelas destino
# con = conexao
# if_exists = se ja existir a tabela no banco o que fazer? replace (substitui toda tabela) append (Inseri dados na ultima linha)
# index = indice do DF  Padrão é True (leva o indice para a tabela)  False (Não leva o indice do python para a tabela)
# conn.close() e eng.dispose() = fecha as conexoes (Sempre usar)

In [4]:

# append = adicionando na ultima linha
eng = create_engine("mysql+mysqldb://root:12345@localhost/python")
cursor = eng.connect()

tabela_destino='clientes_teste'

df_customers.to_sql(name=tabela_destino, con=cursor, if_exists='append', index=False    )


cursor.close()
eng.dispose()

In [7]:

# replace = Subititui toda tabela 
eng = create_engine("mysql+mysqldb://root:12345@localhost/python")
cursor = eng.connect()

tabela_destino='clientes_teste_replace'

df_customers.to_sql(name=tabela_destino, con=cursor, if_exists='replace', index=False    )


cursor.close()
eng.dispose()

Tipos de dados

In [5]:
''' Mapeamento de colunas usando  dicionário 

parametro no mySQL  = dtype

criar um dicionario com os tipos de dados e atribuir no parametro dtype

Integer, String Etc
Pesquisar no link por MySQL Data Types


'''

' Mapeamento de colunas usando  dicionário \n\nparametro no mySQL  = dtype\n\ncriar um dicionario com os tipos de dados e atribuir no parametro dtype\n\n'

In [9]:
df_customers.dtypes

customer_id     int64
first_name     object
last_name      object
phone          object
email          object
street         object
city           object
state          object
zip_code        int64
dtype: object

In [8]:
df_customers.columns

Index(['customer_id', 'first_name', 'last_name', 'phone', 'email', 'street',
       'city', 'state', 'zip_code'],
      dtype='object')

In [11]:
# inferindo schema antes da carga 
from sqlalchemy import create_engine,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String
import pandas as pd
eng = create_engine("mysql+mysqldb://root:12345@localhost/python")
cursor = eng.connect()

tabela_destino='clientes_schema'

tipo_coluna={
    'customer_id':INTEGER,
    'first_name':VARCHAR(50),
    'last_name':String(50)
     
        }# criar dicionario


df_customers.to_sql(name=tabela_destino, con=cursor, if_exists='replace', dtype= tipo_coluna, index=False    )


cursor.close()
eng.dispose()