In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_excel(r"K:\Python\Arquivos\Origem\arquivos_excel\Produto.xlsx")
dados.head(10)

In [ ]:
#ordem crescente coluna especifica
dados   =    dados.sort_values(by=['Name'])
dados.head(7)

In [ ]:
#ordem crescente coluna especifica
dados=dados.sort_values(by=['Name'],ascending = False )
dados

In [ ]:
#ordem crescente coluna especifica
dados=dados.sort_values(by=['Name'],ascending= False)
dados

#### Renomeando Colunas

In [ ]:
dados = pd.read_excel(r"K:\Python\Arquivos\Origem\arquivos_excel\Produto.xlsx")
dados.head(10)

In [ ]:
# Renomeie as colunas do DataFrame
dados = dados.rename(columns={'Name':'Nome','Price':'Preco','Id_Category':'IdCategoria'})
#[]  lista
#{}   Dicionario

In [ ]:
dados.head(10)

#### modo com variavel

In [24]:
dados = pd.read_excel(r"K:\Python\Arquivos\Origem\arquivos_excel\Produto.xlsx")
dados.head(10)

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0
5   5               Perfume     29            1
6   6      Creme de Barbear     15            1
7   7       Hidratante caro    800            1
8   8               Shampoo     15            1
9   9        Protetor Solar     11            1

In [ ]:
# Crie um dicionário com os nomes das colunas antigos e novos
novascolunas = {'Name': 'Nome','Price': 'Valor'}
dados = dados.rename(columns = novascolunas)

In [ ]:
dados.head(5)

Dados resumido

In [25]:
import pandas as pd  # bibliotecas

In [27]:
dados = pd.read_excel(r"K:\Python\Arquivos\Origem\arquivos_excel\Produto.xlsx")
novascolunas = {'Name': 'Nome','Price': 'Valor','Id_Category':'IdCategoria'}
dados = dados.rename(columns = novascolunas)
dados.head(10)

   ID                  Nome  Valor  IdCategoria
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0
5   5               Perfume     29            1
6   6      Creme de Barbear     15            1
7   7       Hidratante caro    800            1
8   8               Shampoo     15            1
9   9        Protetor Solar     11            1