In [ ]:

"""
pip install pandas
pip install --upgrade pandas
"""

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"K:\Python\Arquivos\Origem\arquivos_csv\Clientes.csv",delimiter=',')
df.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [ ]:
# Filtrar 1 item especifico de uma coluna
estado = df.loc[df['state'] == 'Mato Grosso']

In [ ]:
estado

In [ ]:
df

In [ ]:
# escolher estados especificos
estados = ['Rio de Janeiro','Ceará', 'Rondônia','Bahia']
Df_estados = df.loc[df['state'].isin(estados)]
Df_estados

In [ ]:
Df_estados2 = df.loc[df['state'].isin(['Rio de Janeiro','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',    
                                       'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',  
                                       'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',  
                                       'Rondônia','Bahia'])]
Df_estados2

#### Tratando Nulos

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"K:\Python\Arquivos\Origem\arquivos_csv\Clientes.csv",delimiter=',')
df.head(5)

In [ ]:
#Substituir valores nulos
df['street'] =           df['street'].fillna('Nao Cadasatrado')
df['email'] =            df['email'].fillna('Email Não Cadastrado')
df['number'] =           df['number'].fillna('Sem Numero')
df['additionals'] =      df['additionals'].fillna('Sem Info')

In [ ]:
df

#### Metodo Replace

In [ ]:
# Substituindo os nomes dos estados no DataFrame
"""
df['Coluna'] = df['coluna'].replace(valor_original, valor_substituto)
"""

In [ ]:

# Resetar DF
df = pd.read_csv(r"K:\Python\Arquivos\Origem\arquivos_csv\Clientes.csv", delimiter=',')
df.head(15)

In [ ]:
df['state'] = df['state'].replace('São Paulo', 'SP')
df['state'] = df['state'].replace('Acre', 'AC')
df['state'] = df['state'].replace('Distrito Federal', 'DF')

In [ ]:
df.head(20)

In [ ]:

# Resetar DF
df = pd.read_csv(r"K:\Python\Arquivos\Origem\arquivos_csv\Clientes.csv", delimiter=',')
df.head(10)

In [ ]:
# Fazendo a substituição de um valor específico
valor_original = 'São Paulo'
valor_substituto = 'SP'
df['state'] = df['state'].replace(valor_original, valor_substituto)

In [ ]:
df.head(30)

In [ ]:
import pandas as pd
# Resetar DF
df = pd.read_csv(r"K:\Python\Arquivos\Origem\arquivos_csv\Clientes.csv", delimiter=',')
df.head()

In [ ]:
# Mapeando os nomes dos estados para substituição
# Obs itens criados entre chves {} significa dicionario
mapeamento = {'Maranhão': 'Maranhao', 'Piauí': 'Piaui', 'Goiás': 'Goias','São Paulo':'SPteste'}

# Substituindo os nomes dos estados no DataFrame
df['state'] = df['state'].replace(mapeamento)

In [ ]:
df.head(30)